<a href="https://colab.research.google.com/github/Ne5ter71/training/blob/Main/dop_hw_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Домашнее задание по теме **"Введение в язык программирования Python"**

Подготовил: С.П. Строев

Обязательность выполнения: по желанию.

**Задание 1**. Работа со списками. 

Методы для работы со списками можно посмотреть [здесь](https://pythonworld.ru/tipy-dannyx-v-python/spiski-list-funkcii-i-metody-spiskov.html).  

Используя функции `range()` и `list()`, задайте список чисел в интервале $(1,20)$ с шагом 3. 

Для данного списка выполните следующие преобразования: 
1. С помощью функции `print()` напечатайте длину списка;
2. Выведите все элементы списка, начиная со второй позиции; 
3. Выведите все четные элементы списка;
4. Выведите все элементы спсика, делящиеся на 5 без остатка. Если таких элементов нет, то должна выводиться надпись "Элементов, делящихся на 5, нет". Допускается использовать цикл `for`;
5. Отсортируйте список в порядке убывания;
6. Используя функции `map()` и `pow()`, рассчитайте квадраты элементов исходного списка. *Подсказка: для того, чтобы задать список из одинаковых элементов требуемой длины можно воспользоваться следующей конструкцией:
```python
>>> lenght = 3
>>> [2]*lenght
[2,2,2]
```     
где `lenght` -- число, определяющее требуемое количество элементов списка;
7. Используя срезы, выведите элементы списка в обратном порядке;
8. Рассчитайте для элементов списка выборочное среднее. <u>Использовать специальные библиотеки и встроенные методы нельзя</u>. Напомним, что для набора чисел $x_i$, $i=\overline{1,n}$, выборочное среднее определяется по следующей формуле 

$$
\bar{x} = \dfrac{1}{n}\sum\limits_{i=1}^{x}x_i.
$$    


<u>Для удобства оформляйте каждый пункт задания в отдельной ячейке.</u>

In [2]:
# ваше решение здесь
# генерация списка
list_1 = list(range(1,20,3))
# 1. длина списка
print(len(list_1))

7

In [3]:
# 2. Вывод со второй позиции
print(list_1[1:])

[4, 7, 10, 13, 16, 19]

In [4]:
# 3. вывод четных
print([num for num in list_1 if num % 2 == 0])

[4, 10, 16]

In [5]:
# 4.Вывод списка /5
list_2 = [num for num in list_1 if num % 5 == 0]
if len(list_2) == 0:
  print('Элементов, делящихся на 5, нет')
else:
  print(list_2)

[10]

In [6]:
# 5. Сортировка в порядке убывания
list_1.sort(reverse=True)
print(list_1)

[19, 16, 13, 10, 7, 4, 1]

In [7]:
# 6 map()
list_1 = list(range(1,20,3))
squared = map(lambda num: num ** 2, list_1)
list_2 = list(squared)
print(list_2)
# 6 pow()  
list_2 = [pow(num, 2) for num in list_1]
print(list_2)

[1, 16, 49, 100, 169, 256, 361]
[1, 16, 49, 100, 169, 256, 361]

In [8]:
# 7 срезы, вывод в обратном порядке
print(list_1[::-1])

[19, 16, 13, 10, 7, 4, 1]

In [9]:
# 8 Рассчет для элементов списка выборочного среднего.
list_sum = sum(list_1)/len(list_1)
print(list_sum)

10.0

**Задание 2**. Работа с множествами

Задание. Имеются два списка элементов `[1, 1, 2, 3, 1]` и `[1, 1, 1, 2]`. Необходимо:
- создать два множества с помощью метода `set()`. Обратите внимание на особенность работы этого метода;
- с полученными множествами реализовать операции объединения, пересечения, разности. Посмотреть примеры можно [здесь](https://pythontutor.ru/lessons/sets/).

Задание. Имеется строка `'некоторый текст'`. Переведите ее в множество. Обратите внимание на результат.

In [10]:
# ваше решение здесь
lst_one = [1, 1, 2, 3, 1]
lst_two = [1, 1, 1, 2]
multiple_one = set(lst_one)
multiple_two = set(lst_two)
print(multiple_one)
print(multiple_two)

{1, 2, 3}
{1, 2}

In [11]:
# объединение 
multiple_union = multiple_one.union(multiple_two)
print(multiple_union)

{1, 2, 3}

In [12]:
# Пересечение
multiple_intersection = multiple_one.intersection(multiple_two)
print(multiple_intersection)

{1, 2}

In [13]:
# Разность
multiple_difference = multiple_one.difference(multiple_two)
print(multiple_difference)

{3}

In [14]:
# ваше решение здесь
str_some = 'некоторый текст'
multiple_some = set(str_some)
print(multiple_some)

{'й', 'к', 'ы', 'т', ' ', 'е', 'р', 'о', 'н', 'с'}

**Задание 3.** Работа со словарями

Задание: Имеются следующие списки
```python
>>> disc = ['Алгебра', 'Геометрия', 'Топология']
>>> student = ['Сидоров', 'Иванов', 'Петров', 'Иванова'] 
>>> grades_student = [[2, 4, 4], [3, 4, 4], [3, 3, 3], [5, 5, 5]] 
```
Здесь 

|Список|Комментарий|
|--:|:--|
|`disc`|Перечень экзаменов по дисциплинам|
|`student`|Фамилии студентов|
|`grades_student`|Оценки студентов по экзаменам|

Необходимо из имеющихся списков:
1. С помощью методов `dict()` и `zip()` сформируйте словарь вида
```python
{'Иванов': [3, 4, 4],
 'Иванова': [5, 5, 5],
 'Петров': [3, 3, 3],
 'Сидоров': [2, 4, 4]}
```
2. С помощью цикла `for` и метода `enumerate()` cформируйте словарь вида 
```python
{'Иванов': {'Алгебра': 3, 'Геометрия': 4, 'Топология': 4},
 'Иванова': {'Алгебра': 5, 'Геометрия': 5, 'Топология': 5},
 'Петров': {'Алгебра': 3, 'Геометрия': 3, 'Топология': 3},
 'Сидоров': {'Алгебра': 2, 'Геометрия': 4, 'Топология': 4}} 
```
3. В словаре, полученном во 2-м пункте, найдите и распечатайте фамилии <<круглых отличников>> и  студентов, несдавших сессию.

In [15]:
# ваше решение здесь
disc = ['Алгебра', 'Геометрия', 'Топология']
student = ['Сидоров', 'Иванов', 'Петров', 'Иванова'] 
grades_stundent = [[2, 4, 4], [3, 4, 4], [3, 3, 3], [5, 5, 5]]

In [16]:
# 1
student_dict = dict(zip(student,grades_stundent))
sorted_dict = dict(sorted(student_dict.items()))
print(sorted_dict)

{'Иванов': [3, 4, 4], 'Иванова': [5, 5, 5], 'Петров': [3, 3, 3], 'Сидоров': [2, 4, 4]}

In [17]:
# 2

In [18]:
# 3

**Задание 4.** Работа со строками

Приемы работы со строками:

- `len(s)` -- определить длину строки `s`;
- `s[i]` -- получить `i`-ый символ строки (нумерация с нуля, `i` -- положительное), в случае отрицательного `i` нумерация идет справа-налево, начиная с `-1`, например, `s[-1]` -- это последний символ строки;
- `s[i:j]` -- получить все символы с `i`-го включительно по `j`-ый не включительно;
- `s[:i]` -- все символы до `i`-го не включительно;
- `s[i:]` -- все символы, начиная с `i`-го включительно;
`s[i:j:k]` -- все символы с `i`-го включитель по `j`-ый не включительно с шагом `k`, если шаг отрицательный, то `i` должно указывать на символ стоящий правее, чем `j`;

Задание: На вход подается непустая строка. Требуется вывести:
1. Третий символ этой строки (считая, что нумерация символов начинается с 1);
2. Предпоследний символ этой строки;
3. Первые пять символов этой строки;
4. Всю строку, кроме последних двух символов;
5. Все символы с четными индексами (считая, что индексация начинается с 0);
6. Все символы с нечетными индексами (считая, что индексация начинается с 0);
7. Все символы в обратном порядке;
8. Все символы строки через один в обратном порядке, начиная с последнего;
9. Длину данной строки;
10. Строку в нижнем регистре;
11. Строку в верхнем регистре.

In [19]:
#ваше решение здесь
text_example = "Примерный текст"
# Третий символ этой строки
print(text_example[2])

и

In [20]:
# Предпоследний символ
print(text_example[-2])

с

In [21]:
# Первые пять символов
print(text_example[:5])

Приме

In [22]:
# Всю строку, кроме последних двух символов
print(text_example[:-2])

Примерный тек

In [23]:
# Все символы с четными индексами

In [24]:
# Все символы с нечетными индексами

In [25]:
#Все символы в обратном порядке
print(text_example[::-1])

тскет йынремирП

In [26]:
# Все символы строки через один в обратном порядке, начиная с последнего
print(text_example[::-2])

тктйнеиП

In [27]:
# Длина данной строки
print(len(text_example))

15

In [28]:
# Строка в нижнем регистре
print(text_example.lower())

примерный текст

In [29]:
# Строка в верхнем регистре
print(text_example.upper())

ПРИМЕРНЫЙ ТЕКСТ

Задание: На вход подается неочищенный текст. Необходимо:
- привести текст к нижнему регистру;
- убрать спецсимволы и знаки пунктуации --- ['#', '$', '%', '?', ':', ':', "," ".", '-', "!"].

In [30]:
#ваше решение здесь

**Задание 5.** Распаковка последовательности в отдельные переменные.

Комментарий: любая последовательность (или итерируемый объект) может быть распакована в переменные с помощью простого присваивания. Единственное обязательное условие заключается в том, чтобы количество и структура переменных совпадали с таковыми у последовательности.

Задание: для студента имеется запись
```python
student = ('Иванов','Иван', 1998, [4, 2, 5, 5, 5, 'зачтено', 'зачтено', 'не зачтено'])`
```

Здесь 

|Значение запаси|Комментарий|
|--:|:--|
|`Иванов`|Фамилия студента|
|`Иван`|Имя студента|
|`1998`|Год рождения|
|[...]|Результаты сессии|

Для студента требуется вывести следующие сведения:

1. Сколько лет нашему студенту, если сейчас 2022 год. 
Формат вывода: Иван Иванов -- 24 года.  
2. Сдал ли наш студент сессию? Примечание: сессия считается несданной, если имеется хотя бы одна `2` или `не зачтено`. 
Формат вывода: Иван Иванов -- сессия не сдана. 
3. Какой процент `5` у нашего студента.
Формат вывода: Иван Иванов -- 60% дисциплин, сданных на 5.

Комментарий: распакуйте нашу запись в 4 переменные. Попробуйте форматировать вывод с помощью метода `format()`. Вот [здесь](https://pythonru.com/osnovy/formatirovanie-v-python-s-pomoshhju-format) можно найти хорошее описание этого метода.

In [31]:
# ваше решение здесь

**Задание 6.** Создание функций

Реализуйте математическую функцию сигнума `sgn(x)`. Она определяется так:

$$
sgn(x) = 
\left\{
  \begin{array}{l}
  1, \quad \text{если } \, x>0,\\
  0, \quad \text{если } x=0,\\
  -1,  \text{ если } x<0.
  \end{array} 
\right.
$$

Функция должна возвращать кортеж вида $(x,y)$.

Пример работы функции:
```python
>>> sgn(10)
(10,1)
```

In [32]:
# ваше решение здесь
import math
print(math.copysign(x,y))