# Практическое задание 2

Будем работать с датасетом Pima Indian Diabetes - это набор данных из Национального института диабета, болезней органов пищеварения и почек. Целью набора данных является диагностическое прогнозирование наличия диабета у пациента. Несколько ограничений были наложены на выбор этих экземпляров из большой базы данных. В частности, все пациенты здесь - женщины в возрасте от 21 года, индийского происхождения.

Описание данных:

- __Pregnancies__ - данная единица отображает количество беременностей, единицы измерения - целые числа от 0 до N. Тип переменной - количественная, дискретная.
- __Glucose__ - данная единица отображает уровень глюкозы в крови, единицы измерения - целые числа. Тип переменной - количественная, дискретная.
- __BloodPressure__ - данная единица отображает артериальное давление, единицы измерения - миллиметры р/с, целые числа. Тип переменной - количественная, дискретная.
- __SkinThickness__ - данная единица отображает обхват трицепса в миллиметрах, целые числа. Тип переменной - количественная, дискретная.
- __Insulin__ - данная единица отображает уровень инсулина в крови, целые числа. Тип переменной - количественная, дискретная.
- __BMI__ - данная единица отображает индекс массы тела. Тип переменной - количественная, непрерывная.
- __DiabetesPedigreeFunction__ - данная единица отображает риск наследственного диабета в зависимости наличия диабета у родственников. Выражается десятичной дробью от 0 до 1. Тип переменной - количественная, непрерывная.
- __Age__ - данная единица отражает возраст в целых числах. Тип переменной - количественная, дискретная.
- __Class__ - данная единица отражает наличие диабета у субъекта, выражена 0(здоров) или 1(болен). Тип переменной - категориальная, бинарная.

In [1]:
import pandas as pd

In [2]:
# 1. считывание данных
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [3]:
# 2. Очистка данных (поиск и удаление дубликатов)
df_new = df.drop_duplicates(subset = list(df.columns), keep = False)
df_new

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [4]:
# запись результатов очистки в файл с разделителями
df_new.to_csv('diabetes_clean.csv')

**Задание 1.**

У скольких женщин старше 50 лет обнаружен диабет?

In [5]:
# Ваше решение здесь
# Для ответа на вопрос используйте метода print() и приемы форматирования строк 

df = pd.read_csv('diabetes_clean.csv')
print('Количество женщин с диабетом в возрасте старше 50 - {} человек'.\
      format(df.loc[(df['Age'] > 50)&(df['Class'] == 1)].shape[0]))

Количество женщин с диабетом в возрасте старше 50 - 38 человек

**Задание 2.**

Сколько женщин возраста между 30 и 40 успело родить 3 или более детей?

In [6]:
# Ваше решение здесь
print('Женщин в возрасте от 30 до 40 с 3 и более детьми - {} человек'.\
      format(df.loc[(df['Age'] >= 30)&(df['Age'] <= 40)&(df['Pregnancies'] >= 3)].shape[0]))

Женщин в возрасте от 30 до 40 с 3 и более детьми - 142 человек

**Задание 3.**

Нормальным кровяным давлением будем считать давление в диапазоне [80-89]. У какого процента женщин давление нормальное?

In [7]:
# Ваше решение здесь

s = (df['BloodPressure'] >= 80)&(df['BloodPressure'] <= 89)
percent100 = s.value_counts(normalize=True).mul(100).round(1)[1]
print('У {}% женщин нормальное кровянное давление'.format(percent100))

У 18.9% женщин нормальное кровянное давление

**Задание 4.**

Сравните процент больных диабетом среди женщин, которые были беременны и не были.

In [8]:
# Ваше решение здесь

# Вычисляем количество рожавших и не рожавших
# датафрейм рожавших
df_pregn = df.loc[(df['Pregnancies'] != 0)]

# датафрейм не рожавших
df_non_pregn = df.loc[(df['Pregnancies'] == 0)]

In [9]:
# Вычисление процента больных диабетом среди рожавших
pregn_diab = df_pregn['Class'] == 1
pregn_percent100 = pregn_diab.value_counts(normalize=True).mul(100).round(1)[1]

In [10]:
# Вычисление процента больных диабетом среди не рожавших
non_pregn_diab = df_non_pregn['Class'] == 1
non_pregn_percent100 = (non_pregn_diab.value_counts(normalize=True).
                        mul(100).round(1)[1])

In [11]:
# Вывод результата
print('Процент женщин больных диабетом среди бывших беременными \
составляет {0}%., среди небывших беременными - {1}%'.
         format(pregn_percent100,non_pregn_percent100))

Процент женщин больных диабетом среди бывших беременными составляет 35.0%., среди небывших беременными - 34.2%