<a href="https://colab.research.google.com/github/Ne5ter71/training/blob/Main/%D0%A4%D0%B0%D0%BA%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B5%20%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F/dpo_hw_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Имеется следующий словарь с данными о студентах. Вам предлагается выполнить ряд заданий.

In [2]:
dict_to_df = {'student_fio': ['Иванов', 'Петров', 'Сидорова', 'Волкова', 'Сотников'],
              'name': ['Сергей', 'Николай', 'Ольга', 'Полина', 'Илья'],
              'gender' : ['M', 'M', 'F', 'F', 'M'],
              'age' : [23, 23, 24, 25, 36],
              'curs' : [1,2,2,4,4]}

Задание 1. На базе данного словаря создайте датафрейм со значениями индекса `a`, `b`, `c`, `d` и `e`.

In [3]:
#Ваш код здесь
#Вывод датафрейма по его имени 
import pandas as pd
df = pd.DataFrame(dict_to_df, index = list('abcde'))
display(df)

  student_fio     name gender  age  curs
a      Иванов   Сергей      M   23     1
b      Петров  Николай      M   23     2
c    Сидорова    Ольга      F   24     2
d     Волкова   Полина      F   25     4
e    Сотников     Илья      M   36     4

Задание 2. С использованием методов `head()`, `tail()`, `sample()` и `take()` получите:
1. Две любые случайные строки датафрейма;
2. Первые две строки датафрейма;
3. Последние две строки датафрейма;
4. Строки датафрейма с номерами позиций 3 и 4.

In [ ]:
# Две любые случайные строки датафрейма;
df.sample(2)

  student_fio     name gender  age  curs
c    Сидорова    Ольга      F   24     2
b      Петров  Николай      M   23     2

In [ ]:
# Первые две строки датафрейма;
df.head(2)

  student_fio     name gender  age  curs
a      Иванов   Сергей      M   23     1
b      Петров  Николай      M   23     2

In [ ]:
# Последние две строки датафрейма;
df.tail(2)

  student_fio    name gender  age  curs
d     Волкова  Полина      F   25     4
e    Сотников    Илья      M   36     4

In [ ]:
# Строки датафрейма с номерами позиций 3 и 4.
df.take([3,4])

  student_fio    name gender  age  curs
d     Волкова  Полина      F   25     4
e    Сотников    Илья      M   36     4

Задание 3. С использованием метода `print()` и приемами форматирования строк  выведите количество строк и столбцов датафрейма.

In [4]:
#Ваш код здесь
shape = df.shape
print("В датафрейме {0} и {1} столбцов".format(shape[0], shape[1])) 
#Результат вывода должен быть таким:
#В датафрейме 5 строк и 5 столбцов

В датафрейме 5 и 5 столбцов

Задание 4. Получите информацию о типах данных признаков датафрейма

In [7]:
#Ваш код здесь
df.dtypes

student_fio    object
name           object
gender         object
age             int64
curs            int64
dtype: object

Задание 5. Какие и сколько уникальных значений принимает признак `gender`. Вывод оформите с помощью метода `print()`.

In [ ]:
#Ваш код здесь

Задание 6. Выведите данные столбцов `student_fio` и `name`.

In [ ]:
#Ваш код здесь

Задание 7. Используя логические выражения, получите ответы на следующие вопросы:
1. Сколько в исходном датафрейме юношей;
2. Сколько девушек учится на 2-м курсе;
3. Какой процент от общего числа составляют студенты 2-го курса; 
4. Выведите только фамилии юношей, обучающихся на 2-м и 4-м курсах. 

Ответы оформляйте с помощью метода `print()` и элементов форматирования строк.

In [ ]:
#Ваш код здесь

Задание 8. С использованием свойств `.loc[]` и `.iloc[]` сформируйте датафреймы, состоящие из строк с метками индекса `b`, `c` и `d`, а также столбцами `student_fio` и `name`. Для формирования датафреймов используйте оба свойства.

In [ ]:
#Ваш код здесь